# Logs
logs
*console.log
npm-debugconsole.log*
yarn-debugconsole.log*
yarn-errorconsole.log*
pnpm-debugconsole.log*
lerna-debugconsole.log*

node_modules
dist
dist-ssr
.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/utils/firebase.js
