@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* .select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: rgba(220, 220, 220, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(8px);
}

.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 2px 24px 2px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
} */
select {
  -webkit-appearance: none;
  -moz-appegrance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #9393938a;
  backdrop-filter: blur(800px);
  background-image: none;
  flex: 1;
  padding: 00.5em;
  color: #111;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 10em;
  height: 2em;
  /* line-height: 3; */
  /* background: #1717ce; */
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 1;
  right: 0;
  font-size: 12px;
  padding: 0 1em;
  /* background: #27272a; */
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: red;
}
